/* @font-face {
    font-family: gothamBold;
    src: url("./fonts/gotham/GothamBold.ttf") format("truetype");
}

@font-face {
    font-family: gothamBook;
    src: url("./fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
    font-family: gothamBook;
    src: url("./fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
    font-family: gothamLight;
    src: url("./fonts/gotham/GothamLight.ttf") format("truetype");
} */

@font-face {
    font-family: gothamBold;
    src: url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Bold.eot");
    /* IE9*/
    src: url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Bold.woff2") format("woff2"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Bold.woff") format("woff"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Bold.svg#Gotham Bold") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: gothamBook;
    src: url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Book.eot");
    /* IE9*/
    src: url("http://pages.lenovo.com/rs/183-WCT-620/images/Gotham-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Book.woff2") format("woff2"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Book.woff") format("woff"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Book.svg#Gotham Book") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: gothamLight;
    src: url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Light.eot");
    /* IE9*/
    src: url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Light.woff2") format("woff2"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Light.woff") format("woff"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Light.svg#Gotham Light") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: gothamMedium;
    src: url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Medium.eot");
    /* IE9*/
    src: url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Medium.woff2") format("woff2"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Medium.woff") format("woff"), /* chrome、firefox */
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Medium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("http://pages.lenovo.com/rs/183-wct-620/images/Gotham-Medium.svg#Gotham Medium") format("svg");
    /* iOS 4.1- */
}

.mktoLabel {
    width: 25px!important;
}

.mktoFormRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mktoFormRow label, .mktoOffset, .mktoGutter {
    display: none!important;
    visibility: hidden;
}

.mktoFormCol {
    margin-bottom: 1em!important;
}

.mktoField {
    padding: 1em!important;
    border: 1px solid #C7C7C7!important;
    background-color: #ffffff!important;
    font-family: gothamBook!important;
}

.mktoButton {
    width: 100%;
    color: #ffffff;
    background-color: #3F8DDD!important;
    border: 1px solid #3F8DDD!important;
    background-image: none!important;
    font-size: 20px!important;
    font-family: gothamBold!important;
    line-height: 27px!important;
}

.mktoButtonDisabled, .disabled {
    width: 100%;
    color: #ffffff;
    background-color: #34B5D9!important;
    border: 1px solid #34B5D9!important;
    background-image: none!important;
    font-size: 20px!important;
    font-family: gothamBold!important;
    line-height: 27px!important;
    opacity: 0.6!important;
}

.mktoButtonWrap {
    margin: 0!important;
}

.mktoFieldDescriptor, .mktoFieldWrap, .mktoField {
    width: 100%!important;
}

select, input[type=text], input[type=date], input[type=email], input[type=number] {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.mktoLogicalField{
    width: auto!important;
}

select {
    background: url("http://pages.lenovo.com/rs/183-WCT-620/images/angle-arrow-down.png");
    background-repeat: no-repeat!important;
    background-size: 10px!important;
    background-position: top 16px right 16px;
    background-color: #ffffff!important;
    padding-right: 4px!important;
}

@media(max-width: 767px) {
    select {
        background-position: top 13px right 11px;
    }
}

select.mktoField, option {
    color: #5F5F5F;
}

option {
    line-height: 2em;
    font-size: 16px;
    font-family: gothamBook!important;
}

@media only screen and (max-width: 480px) {
    .mktoForm input[type=url], .mktoForm input[type=text], .mktoForm input[type=date], .mktoForm input[type=tel], .mktoForm input[type=email], .mktoForm input[type=number], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
        width: 100%;
        height: 1em;
        line-height: 1em;
        font-size: 10px!important;
    }
}

@media only screen and (max-width: 480px) {
    .mktoForm input[type=url], .mktoForm input[type=text], .mktoForm input[type=date], .mktoForm input[type=tel], .mktoForm input[type=email], .mktoForm input[type=number] {
        width: 100%;
        height: 1em;
        line-height: 1em;
        font-size: 10px!important;
        padding: 1.5em!important;
    }
}

.mktoForm input[type=url]:focus, .mktoForm input[type=text]:focus, .mktoForm input[type=date]:focus, .mktoForm input[type=tel]:focus, .mktoForm input[type=email]:focus, .mktoForm input[type=number]:focus, .mktoForm textarea.mktoField:focus, .mktoForm select.mktoField:focus {
    color: -internal-light-dark(black, white)!important;
    outline-color: #000000!important;
    outline-style: auto;
    outline-width: 1px;
}

.mktoFormRow:nth-of-type(11) > .mktoFormCol {
    display: flex!important;
    visibility: visible!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto!important;
}

.mktoFormRow:nth-of-type(11) > .mktoFormCol > .mktoFieldWrap {
    display: flex!important;
    visibility: visible!important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto!important;
    max-width: 400px;
}

.mktoCheckboxList{
    width: 0!important;
    display: none!important;
    visibility: hidden!important;
}


#Lbllvo_isoptinemailsent {
    display: block!important;
    visibility: visible!important;
    font-family: gothamLight;
    font-size: 10px;
    line-height: 16px;
    text-align: justify;
    width: auto!important;
}

input[type="checkbox"]{
    width: min-content!important;
    margin-right: 6px!important;
    margin-top: 2px!important;
}