@font-face {
    font-family: gothamBold;
    src: url("./fonts/gotham/GothamBold.ttf") format("truetype");
}

@font-face {
    font-family: gothamBook;
    src: url("./fonts/gotham/GothamBook.ttf") format("truetype");
}

@font-face {
    font-family: gothamMedium;
    src: url("./fonts/gotham/GothamMedium.ttf") format("truetype");
}

@font-face {
    font-family: gothamLight;
    src: url("./fonts/gotham/GothamLight.ttf") format("truetype");
}

.mktoLabel {
    width: 25px!important;
}

.mktoFormRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mktoFormRow label, .mktoOffset, .mktoLogicalField, .mktoGutter {
    display: none!important;
    visibility: hidden;
}

.mktoFormCol {
    margin-bottom: 2em!important;
}

.mktoFormRow:nth-of-type(10) {
    display: none!important;
    visibility: hidden!important;
}

.mktoField {
    padding: 1em!important;
    border: 1px solid #C7C7C7!important;
    background-color: #ffffff!important;
    font-family: gothamBook!important;
}

.mktoButton {
    width: 100%;
    color: #ffffff;
    background-color: #3F8DDD!important;
    border: 1px solid #3F8DDD!important;
    background-image: none!important;
    font-size: 20px!important;
    font-family: gothamBold!important;
    line-height: 27px!important;
}

.mktoButtonDisabled, .disabled {
    width: 100%;
    color: #ffffff;
    background-color: #34B5D9!important;
    border: 1px solid #34B5D9!important;
    background-image: none!important;
    font-size: 20px!important;
    font-family: gothamBold!important;
    line-height: 27px!important;
    opacity: 0.6!important;
}

.mktoButtonWrap {
    margin: 0!important;
}

.mktoFieldDescriptor, .mktoFieldWrap, .mktoField {
    width: 100%!important;
    -webkit-appearance: none;
}

select.mktoField, option {
    color: #5F5F5F;
    -webkit-appearance: none;
}

option {
    line-height: 2em;
    font-size: 16px;
    font-family: gothamBook!important;
}

#Lbllvo_isoptinemailsent {
    width: auto!important;
}

@media only screen and (max-width: 480px) {
    .mktoForm input[type=url], .mktoForm input[type=text], .mktoForm input[type=date], .mktoForm input[type=tel], .mktoForm input[type=email], .mktoForm input[type=number], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
        width: 100%;
        height: 1em;
        line-height: 1em;
        font-size: 10px!important;
        -webkit-appearance: none;
    }
}

@media only screen and (max-width: 480px) {
    .mktoForm input[type=url], .mktoForm input[type=text], .mktoForm input[type=date], .mktoForm input[type=tel], .mktoForm input[type=email], .mktoForm input[type=number] {
        width: 100%;
        height: 1em;
        line-height: 1em;
        font-size: 10px!important;
        padding: 1.5em!important;
        -webkit-appearance: none;
    }
}

.mktoForm input[type=url]:focus, .mktoForm input[type=text]:focus, .mktoForm input[type=date]:focus, .mktoForm input[type=tel]:focus, .mktoForm input[type=email]:focus, .mktoForm input[type=number]:focus, .mktoForm textarea.mktoField:focus, .mktoForm select.mktoField:focus {
    color: -internal-light-dark(black, white)!important;
    outline-color: #000000!important;
    outline-style: auto;
    outline-width: 1px;
    -webkit-appearance: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}